.layout-base {
    color: aliceblue;
    width: 70vw;
    font-size: 1vw;
    margin: 0 auto;
    display: grid;
}

.layout-base .container-table {
    height: 100vh;
}

.layout-base .bar-cell {
    height: 10vh;
}

.layout-base .bar-element input{
    height: 2.5vh;
    width: 7vw;
    font-size: 1.5vh;
    margin-left: 20vw;
}

.layout-base .bar-element td{
    width: 50%;
}

.layout-base .top-menu-cell {
    height: 2vh;
}

.layout-base .top-menu-cell td{
    width: 50vw;
    text-align: center;
}

.layout-base .top-menu-element {
    margin-top: 1vh;
}

.layout-base .link-table a {
    color: #000000; /* Цвет текста ссылок */
    text-decoration: none; /* Убрать подчеркивание ссылок */
    position: relative; /* Позиционирование ссылок */
}

.layout-base .link-table a:hover {
    color: #666666; /* Измененный цвет текста при наведении */
}

/* Добавление эффекта свечения */
.layout-base .link-table a:before {
    content: ""; /* Создать пустой элемент перед ссылкой */
    position: absolute;
    width: 100%;
    height: 2px; /* Высота линии свечения */
    bottom: 0; /* Расположение снизу */
    left: 0;
    background: #d6d6d6; /* Цвет свечения */
    visibility: hidden; /* Начать с невидимого состояния */
    transform: scaleX(0); /* Масштабирование по горизонтали */
    transform-origin: bottom right; /* Ось масштабирования */
    transition: transform 0.25s ease; /* Плавный переход эффекта */
}

/* Эффект при наведении */
.layout-base .link-table a:hover:before {
    visibility: visible; /* Сделать линию видимой */
    transform: scaleX(1); /* Растянуть линию по горизонтали */
    transform-origin: bottom left; /* Изменить ось масштабирования */
}

/* Стиль таблицы-панели */
.layout-base .link-table {
    border-collapse: separate;
    border-spacing: 10px; /* Расстояние между ячейками */
    background-color: rgb(255, 255, 255); /* Цвет фона таблицы (черный с прозрачностью) */
    border-radius: 10px; /* Закругленные углы */
    padding: 10px; /* Отступы внутри таблицы */
}

.layout-base .auth {
    text-align: right;
}

.layout-base a {
    color: aliceblue;
}

.layout-base .auth-table {
    margin-left: 15vw;
}

.layout-base .auth-table td {
    padding-left: 2vw;
}

.layout-base .theatre-title a{
    text-decoration: none;
    color: inherit;
}

.layout-base .footer-cell {
    height: 12vh;
    padding-top: 5vh;
    vertical-align:text-bottom;
    text-align: center;
}

.layout-base .main-content-element {
    display: flex;
    min-height: 60vh;
}

.layout-base .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 10vw;
    height: 4vh;
  }
  
.layout-base .button:hover {
    background-color: #c9c9c9;
}

.layout-base .mini-button-group td{
    padding-left: 1vh;
}

.layout-base .mini-button-group button {
    display: inline-block;
    background-color: #ffffff;
    height: 4vh;
    width: 4vh;
    border: none;
    border-radius: 1vh;
}

.layout-base .mini-button-group button:hover {
    background-color: #c9c9c9;
}

.layout-base .mini-button-group .favorite {
    background-image: url('StaticImages/blackHeart.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.layout-base .mini-button-group .add-show {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('StaticImages/plus.png');
}