.sidebar {
    position: fixed;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 100vh;
    background: #333;
    transition: 0.3s ease; /* Добавленное свойство для анимации */
}

.sidebar.open {
    left: 0;
}

.sidebar .toggle-button {
    margin-top: 2.5vh;
    margin-left: 110%; /* Добавьте нужные отступы от сайдбара */
    height: 5vh;
    width: 5vh;
    background-image: url('./StaticImages/sidebarButton.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}